<div class="form-wrap">

  <h1 class="form-title">Buy paws</h1>

  <div class="paws">
    <p class="paw-option"><%= buy_paws(1) %></p>
    <p class="paw-option"><%= buy_paws(5) %></p>
    <p class="paw-option"><%= buy_paws(10) %></p>
  </div>

</div>
