<footer class="footer">
  <div class="brand footer-brand">
    <p><%= link_to 'Paw Shaped', root_path, class: 'root-logo' %></p>
    <i class="fas fa-paw main-logo-img"></i>
  </div>
  <div class="privacy footer-div">
    <span><a href="#">Privacy Policy Terms & Conditions</a></span>
    <span>Copyright 2014. All rights reserved.</span>
  </div>
  <div class="social-links footer-div">
    <span>Connect with us: </span>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook-f"></i>
  </div>

</footer>
