<footer class="footer">
  <div class="brand footer-brand">
    <p><%= link_to 'Paw Shaped', root_path, class: 'root-logo' %></p>
  </div>
  <div class="privacy footer-div">
    <span><a class="privacy-link" href="#">Privacy Policy Terms & Conditions</a></span>
    <span>Copyright 2014. All rights reserved.</span>
  </div>
  <div class="social-links footer-div">
    <span class="connect-with-us">Connect with us: </span>
    <a href="https://twitter.com/VictorGonBu"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/21bgv1/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/victormanuel.gonzalezbuitrago/"><i class="fab fa-facebook-f facebook"></i></a>


  </div>

</footer>
