<div class="votes-paws">

  <div class="votes">
    <span><%= post.votes.size %></span>
    <span><%= votes(post) %></span>
  </div>

  <div class="paws">
    <%= paw_post_status(post) %>
  </div>



</div>
