<div class="main-grid">
  <%= link_to root_path do %>
  <div class="first-row">
    PAKO ANTONIO'S POST
  </div>
  <% end %>

  <div class="second-row">
    <% @categories.each do |category| %>
      <%= link_to category_path(category), class: 'category' do%>
      <div class="">
        <%= category.name %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
