

<ul class="posts">
  <% @posts.each do |post| %>

    <li class="post">
      <% if revert(@posts.size) < 4 %>
        <%= render 'posts', post: post %>
        <% else %>
        <%= render 'inverted_posts', post: post %>
      <% end %>

    </li>
  <% end %>
</ul>
