<div class="navbar-user">
  <div class="user">
    <%= link_to 'Login', new_session_path, class: 'brown-border user-nav-link' %>
  </div>
  <div class="user">
    <%= link_to 'Register', new_user_path, class: 'user-nav-link' %>
  </div>

</div>
