<% if flash[:notice] %>
  <div class="notice">
    <p class="notice-p"> <%= notice %></p>
  </div>
<% end  %>
<% if flash[:alert] %>
  <div class="alert">
    <p class="alert-p"> <%= alert %></p>
  </div>
<% end  %>
